extends ./layout.jade

block content
	.panel.panel-default
		.panel-body
			address.text-center.
				<strong>Pavlo Malynin</strong><br/>
				Email: pavlo@malynin.ca <br/>
				Twitter: @p_malynin <br/>
				Facebook: <a href="https://www.facebook.com/pmalynin">Pavlo Malynin </a> <br/>
				Cell: 780-680-1653 <br/>
			p.
				Feel free to contact me about pretty much anything (except ads please).