extends ./layout.jade

block content
	.panel.panel-default
		.panel-body
			h2 Education
			ul
				li 
					span University of Alberta
					strong.pull-right 2014-2018
					br
					strong BSc Honors, Computer Science
			h2 Related Experience
			ul
				li
					span University of Alberta
					strong.pull-right July 2013 - April 2014
					br
					strong Researcher
					p.
						Develop and run experiments. Participate in group meetings and discuss results and how to move forward. Compile reports including statistical data. Project completed with a <a href="https://dl.dropboxusercontent.com/u/6099418/NSERC_Engage_2012_Final_Report.pdf">research paper</a>.
				li
					span University of Alberta
					strong.pull-right July 2014 - August 2014
					br
					strong Intern
					p.
						The goal was to develop a machine learning algorithm that classified dense, highly noisy 30-dimensional
						samples into two classes. The project required the use of bleeding edge technologies such as CUDA.
				li
					span Game Development
					strong.pull-right 2012 - Present
					br
					p.
						Developed two semi-successful games. Both are published under an open source license. During this time I also helped other game-developers as a contractor, writing code for numberous games.
					span Games:
					ul
						li
							a(href="https://github.com/Nessphoro/CosmosCombat") Cosmos Combat
						li
							a(href="https://github.com/Nessphoro/VelesConflict") Veles Conflict
			h2 Notable Examples (from GitHub)
			em More things are available on my GitHub
			ul
				li 
					strong Hobby Operating System 
					span (<a href="https://github.com/Nessphoro/OS">Sauce</a>)
					p.
						This project was developed from scratch using public documents. The OS is written in C++ with x86 Assembly for low-level parts. The OS doesn’t do much, but can do multithreading and basic book-keeping. Previous versions of it could load ELFs from the hard drive, but it was really messy.
				li
					strong Veles Conflict 
					span (<a href="https://github.com/Nessphoro/VelesConflict">Sauce</a>)
					p.
						I wrote this game for Windows Phone 7 just a test to my skill. The project turned out semi-successful considering its niche style. One important thing to note is that I had to reverse engineer Microsoft’s texture loading code so that I could manage them myself. This reduced memory consumption from 90 to around 20 MiB as I managed the memory myself. In the end it had just under 100k downloads.
			h2 Technology Experience
			ul
				li
					span C# - Expert
				li 
					span C++ - Intermediate
				li
					span X86-64 Assembly - Expert
				li
					span NodeJS/ Typescript - Intermediate (This includes knowledge of HTTP and the related technologies)
				li
					span HTML / Jade + CSS - Intermediate
				li
					span MongoDB - Intermediate
				li
					span Redis - Intermediate
				li
					span Azure - Intermediate
				li 
					span MS SQL - Intermediate
				li 
					span GoLang - Basic
			h2 Achievements
			ul
				li 
					strong Microsoft Coding Competition, 2nd Place
					p.
						Placed second place as a one-person team in the Microsoft Coding Competition organized at my university.
			h2 References
			p
				strong.show Prof. Csaba Szepesvari (780) 492-8581
				em.show Supervisor / Course Instructor szepesva@ualberta.ca